name: Artifact
on: push
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - run: date > date.txt
      - uses: actions/upload-artifact@v5
        with:
          name: uploaded-date
          path: date.txt
          retention-days: 1
  download:
    runs-on: ubuntu-latest
    needs: [upload]
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: uploaded-date
          # optional, defaults to the workspace directory
          path: downloaded
      - run: cat downloaded/date.txt
