name: Cache
on: push
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          key: test-${{ runner.os }}-${{ github.sha }}
          # cache target directory
          path: ${{ github.workspace }}/dummy
          restore-keys: |
            test-${{ runner.os }}-
      - run: |
          if [[ -f "${GITHUB_WORKSPACE}/dummy" ]]; then
            echo "Cache hit"
          else
            sleep 10  # Simulate time to build
            dd if=/dev/urandom of="${GITHUB_WORKSPACE}/dummy" bs=1M count=10
            echo "Cache miss"
          fi
      - run: ls -l "${GITHUB_WORKSPACE}/dummy"
